* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

ul {
    list-style: none;
}

a {
    all: unset;
}

:root {
    --fundo: #f7f5f3;
    --input: #f6f5f4;
    --verde_claro: #d9fdd3;
    --verde_forte: #1daa61;
    --cor_cinza_fonte: #d2d2d2;
    --cor_cinza_fonte_escrita: #919191;
}

body {
    background-image: url(img/zapzap.jpg);
    background-size: contain;
}

/* Section para dispositivos Mobiles */
#warningMobile {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: var(--verde_claro);
}

.containerMobile {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 90%;
    height: 85%;
    padding: 20% 10px 0px 10px;
    background-color: white;
    border-radius: 30px;
}

.containerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.containerLogo h1 {
    font-size: 20px;
    color: var(--verde_forte);
}

.imgLogo {
    width: 50px;
}

.imgMain {
    width: 70%;
    height: auto;
    margin-top: 50px;
}

.containerInfo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 80px;
}

.containerInfo p {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

a {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 50px;
}

#linkGit {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    background-color: var(--input);
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#linkGit img {
    background-color: black;
    border-radius: 100%;
}

/* Header contendo os usuários já cadastrados */
header {
    width: 100%;
    height: 270px;
    position: fixed;
    padding-left: 50px;
    padding-top: 20px;
}

.containerContatos {
    width: 300px;
    height: 35px;
    background-color: var(--fundo);
    border-radius: 15px;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

.containerHeaderContatos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
}

.containerContatos h2 {
    display: flex;
    align-items: center;
    width: 90%;
    height: 100%;
    padding-left: 40px;
    font-size: 15px;
}

.containerImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
}

.arrow {
    width: 15px;
    transform: rotate(90deg);
    transition: 0.3s ease-in-out;
}

.imgBaixo {
    transform: rotate(270deg);
}

.containerExpandido {
    height: 250px;
}

#userList {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 215px;
    background-color: white;
    border-radius: 15px;
    padding-top: 5px;
}

#userList li {
    display: flex;
    align-items: center;
    width: 90%;
    height: 51px;
    gap: 10px;
    padding-left: 5px;
    border-radius: 10px;
}

#userList li:hover {
    background-color: var(--fundo);

}

#userList li span {
    border-left-style: solid;
    border-width: 2px;
    border-color: black;
    padding-left: 10px;
}


/* Section de Login */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#sectionLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 480px;
    gap: 20px;
    background-color: var(--fundo);
    border-radius: 30px;
}

.verifyUser {
    display: flex;
    justify-content: start;
    align-items: center;
    opacity: 0;
    width: 100%;
    height: 40px;
    padding-left: 25px;
    gap: 5px;
    border-radius: 30px;
}

.verifyUser span {
    margin-right: 15px;
    font-weight: 600;
    font-size: 16px;
}

.point {
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50px;
}

.first {
    animation: firstPoint 3s ease-in-out infinite;
    transition: 0.2s;
}

.second {
    animation: secondPoint 3s ease-in-out infinite;
    transition: 0.2s;
}

.third {
    animation: thirdPoint 3s ease-in-out infinite;
    transition: 0.2s;
}

@keyframes firstPoint {

    0%,
    33% {
        transform: scale(1.4);
        background-color: var(--verde_forte);
    }

    33%,
    100% {
        transform: scale(1);
    }
}

@keyframes secondPoint {

    0%,
    33% {
        transform: scale(1);
    }

    33%,
    66% {
        transform: scale(1.4);
        background-color: var(--verde_forte);
    }

    66%,
    100% {
        transform: scale(1);
    }
}

@keyframes thirdPoint {

    0%,
    66% {
        transform: scale(1);
    }

    66%,
    90% {
        transform: scale(1.4);
        background-color: var(--verde_forte);
    }

    90%,
    100% {
        transform: scale(1);
    }
}

#sectionLogin img {
    width: 60px;
    height: 60px;
    background-color: var(--verde_forte);
    border-radius: 100%;
}

.containerLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100px;
    gap: 10px;
}

#sectionLogin label {
    font-size: 15px;
    font-weight: 500;
}

#sectionLogin input {
    all: unset;
    width: 400px;
    height: 50px;
    border-radius: 30px;
    background-color: white;
    padding-left: 15px;
    color: var(--cor_cinza_fonte_escrita);
}

#sectionLogin input:hover {
    border-style: solid;
    border-color: var(--cor_cinza_fonte);
    border-width: 1px;
}

.containerButtonLogin {
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 35px;
    padding-left: 10px;
    margin-top: 10px;
}

#messageError {
    color: red;
}

#buttonLogin {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    border-radius: 30px;
    background-color: white;
    color: var(--verde_forte);
    border-style: solid;
    border-color: var(--verde_forte);
    border-width: 1.5px;
}