* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

ul {
    list-style: none;
}

a {
    all: unset;
}

:root {
    --fundo: #f7f5f3;
    --input: #f6f5f4;
    --verde_claro: #d9fdd3;
    --verde_forte: #1daa61;
    --cor_cinza_fonte: #d2d2d2;
    --cor_cinza_fonte_escrita: #919191;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "e1 e2 e4"
        "e1 e3 e4"
    ;

    grid-template-rows: 250px 1fr;
    grid-template-columns: 75px minmax(320px, 30%) minmax(570px, calc(70% - 75px));
}

#statusSection {
    position: absolute;
    display: none;
    flex-direction: column;
    left: 75px;
    z-index: 30;
    min-width: 320px;
    background-color: white;
    width: 30%;
    height: 100vh;
    border-right-style: solid;
    border-width: 1.5px;
    border-color: rgb(143, 143, 143);
}

.headerStatus {
    display: flex;
    height: 50px;
}

.headerStatus h2 {
    display: flex;
    align-items: center;
    width: 25%;
    font-weight: lighter;
    padding-left: 15px;
    font-size: 20px;
}

.headerStatus img:nth-child(1) {
    width: 20px;
    height: 20px;
}

.imgHeader {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 75%;
    gap: 10px;
    padding-right: 20px;
}

.headerStatus img {
    width: 30px;
    height: 30px;
}

.perfilStatus {
    display: flex;
    height: 100px;
}

.containerImgStatus {
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 55px;
    height: 100%;
}

.containerInfPefilStatus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    padding-left: 5px;
    width: calc(100% - 55px);
    height: 100%;
}

.containerInfPefilStatus p:nth-child(1) {
    font-size: 16px;
}

.containerInfPefilStatus p:nth-child(2) {
    color: var(--cor_cinza_fonte_escrita);
}

#perfilStatusImg {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: orange;
}

.plusStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
    margin-bottom: -15px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    background-color: var(--verde_forte);
}

.plusStatus img {
    width: 80%;
    height: 80%;
}

.statusRecente {
    padding-top: 20px;
    padding-left: 15px;
    min-height: 150px;
}

.statusRecente h3 {
    color: var(--cor_cinza_fonte_escrita);
    font-weight: 600;
    font-size: 16px;
}

.statusVisto {
    padding-top: 20px;
    padding-left: 15px;
    min-height: 150px;
}

.statusVisto h3 {
    color: var(--cor_cinza_fonte_escrita);
    font-weight: 600;
    font-size: 16px;
}

.footerStatus {
    display: flex;
    height: 30px;
    text-align: start;
}

.footerStatus div {
    display: flex;
    justify-content: end;
    align-items: start;
    width: 5%;
    height: 100%;
}

.footerStatus img {
    width: 15px;
    height: 20px;
}

.footerStatus p {
    width: 95%;
    height: 100%;
    font-size: 12px;
    padding-top: 5px;
    color: var(--cor_cinza_fonte_escrita);
}

.footerStatus span {
    font-size: 12px;
    color: var(--verde_forte);
}


#canaisSection {
    position: absolute;
    display: none;
    flex-direction: column;
    left: 75px;
    z-index: 30;
    min-width: 320px;
    background-color: white;
    width: 30%;
    height: 100vh;
    border-right-style: solid;
    border-width: 1.5px;
    border-color: rgb(143, 143, 143);
}

.containerHeaderCanais {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.containerHeaderCanais h2 {
    font-size: 20px;
}

.containerHeaderCanais img {
    width: 20px;
    height: 20px;
}

.infoCanais {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 120px;
    text-align: center;
    padding: 5px;
}

.infoCanais :nth-child(1) {
    font-size: 18px;
}

.infoCanais :nth-child(2) {
    color: var(--cor_cinza_fonte_escrita);
    font-size: 16px;
}

.perfiCanais {
    width: 100%;
    min-height: 350px;
}

.containerButtonCanais {
    display: flex;
    justify-content: center;
    width: 100%;
}

#canaisSection button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    color: var(--fundo);
    font-weight: 600;
    background-color: var(--verde_forte);
}

#canaisSection button:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.05);
    background-color: #178b4f;
}

#comunidadesSection {
    position: absolute;
    display: none;
    flex-direction: column;
    left: 75px;
    z-index: 30;
    min-width: 320px;
    background-color: white;
    width: 30%;
    height: 100vh;
    border-right-style: solid;
    border-width: 1.5px;
    border-color: rgb(143, 143, 143);
}

.headerComunidade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 60px;
}

.headerComunidade h2 {
    font-size: 20px;
}

.headerComunidade img {
    width: 20px;
    height: 20px;
}

.containerInfoComunidade {
    display: flex;
    align-items: center;
    height: 80%;
}

.infComunidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 10px;
    padding: 5px;
    text-align: center;
}

.infComunidades p:nth-child(2) {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.infComunidades p:nth-child(3) {
    font-size: 12px;
    line-height: 20px;
}

.imgComunidades {
    width: 210px;
}

.infComunidades span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    color: var(--verde_forte);
}

.infComunidades span:hover {
    text-decoration: underline;
}

.infComunidades span img {
    width: 13px;
}

.containerButtonComunidade {
    display: flex;
    justify-content: center;
}

.containerButtonComunidade button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    color: var(--fundo);
    font-weight: 600;
    background-color: var(--verde_forte);
    border-radius: 30px;
}

.containerButtonComunidade button:hover {
    transition: 0.2s ease-in-out;
    background-color: #198b50;
    transform: scale(1.05);
}

/* Header */
header {
    grid-area: e2;
    width: 100%;
    z-index: 20;
    height: 100%;
    background-color: white;
    border-right-style: solid;
    border-width: 1.5px;
    border-color: rgb(143, 143, 143);
}

.logos {
    display: flex;
    align-items: center;
    padding: 15px;
    height: 25%;
}

.logos div {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    width: 100%;
}

.logos img {
    width: 35px;
    height: 30px;
    border-radius: 100%;
}

.logos div img:hover {
    background-color: var(--cor_cinza_fonte);
}

#logo {
    width: 150px;
    border-radius: 0px;
}

.containerInputHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 16%;
}

.input {
    display: flex;
    height: 100%;
    background-color: var(--input);
    width: 90%;
    border-radius: 20px;
}

.input:hover {
    border-style: solid;
    border-width: 1px;
    border-color: var(--cor_cinza_fonte);
}

input {
    all: unset;
    height: 100%;
    width: 92%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.busca {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    padding-left: 3px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.lupa {
    width: 23px;
    height: 23px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    height: 33%;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 25px;
    width: 80px;
    height: 30px;
    border-style: solid;
    border-color: var(--cor_cinza_fonte);
    border-width: 1.5px;
}

li:hover {
    background-color: var(--input);
}

.notificacoesDes {
    display: flex;
    justify-content: center;
    height: 25%;
}

.notConteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100%;
    padding: 10px;
    background-color: var(--verde_claro);
    border-radius: 20px;
}

.sinoNot {
    width: 40px;
    height: 45px;
}

.divCloseNot {
    width: 5%;
    height: 100%;
}

#ativarNot {
    font-weight: bolder;
    color: var(--verde_forte);
}

#ativarNot:hover {
    text-decoration: underline;
}

/* Barra de navegação lateral */
nav {
    grid-area: e1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
    width: 100%;
    background-color: var(--fundo);
    border-right-style: solid;
    border-width: 1.5px;
    border-color: rgb(143, 143, 143);
}

nav img {
    width: 90%;
    height: 85%;
}

.iconsNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    height: 40%;
}

.iconsNav div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.iconsNav div:nth-child(-n+4):hover {
    background-color: var(--cor_cinza_fonte);
}

div #ia:hover {
    background-color: var(--cor_cinza_fonte);
    border-radius: 100%;
}

.iconsNav div:nth-child(5) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 45px;
    padding-top: 5px;
    border-top-style: solid;
    border-width: 1px;
    border-top-color: var(--cor_cinza_fonte);
    border-radius: 0px;
}

#ia {
    width: 100%;
    height: 100%;
}

.configNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 5px;
    height: 60%;
}

.configNav div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.configNav div img {
    width: 85%;
    height: 85%;
}

.configNav div:hover {
    background-color: var(--cor_cinza_fonte);
}

/* Section Conversas */
#conversasSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    gap: 5px;
    grid-area: e3;
    height: 100%;
    width: 100%;
    z-index: 20;
    border-right-style: solid;
    border-width: 1.5px;
    border-color: rgb(143, 143, 143);
    background-color: white;
}

.contato {
    display: flex;
    align-items: center;
    width: 95%;
    height: 80px;
    border-radius: 15px;
}

.contato:hover {
    background-color: var(--input);
}

.imgPerfil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.imgPerfil img {
    width: 55px;
    height: 55px;
    border-radius: 100%;
}

.informacao {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    height: 70%;
    padding-left: 5px;
}

.nome {
    font-size: 16px;
}

.ultimaMensagem {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--cor_cinza_fonte_escrita);
}

.data {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 70%;
    font-size: 14px;
}

/* Section Main */
#sectionMain {
    grid-area: e4;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-color: var(--fundo);
}

#telaInicial {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 450px;
}

.containerImgInicio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.containerImgInicio img {
    width: 250px;
    height: 210px;
}

#telaInicial h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    font-weight: lighter;
    font-size: 35px;
}

#telaInicial p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 20%;
    font-size: 16px;
}

#telaInicial button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 95px;
    color: var(--fundo);
    font-weight: 500;
    background-color: var(--verde_forte);
    border-radius: 20px;
}

#telaInicial button:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.02);
    background-color: #188f52;
}

#headerMain {
    display: none;
    width: 100%;
    height: 60px;
    background-color: white;
}

.perfilMain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6%;
}

#imgPerfilMain {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

#nomeMain {
    font-size: 18px;
}

.infContatoMain {
    color: var(--cor_cinza_fonte_escrita);
}

.mainInf {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
    width: 49%;
}

.iconsHeaderMain {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    padding-right: 30px;
    width: 45%;
}

.iconsHeaderMain img {
    width: 25px;
    height: 25px;
}

.iconsHeaderMain img:hover {
    border-radius: 40px;
    background-color: var(--fundo);
}

.iconsHeaderMain :nth-child(1) {
    width: 50px;
    height: 25px;
}

#conversa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 40px 0px 40px;
    gap: 15px;
    width: 100%;
    height: calc(100% - 120px);
}

#divInputMain {
    display: none;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.containerInput {
    display: flex;
    width: 90%;
    height: 85%;
}

.containerInput img {
    width: 20px;
    height: 20px;
}

.inputMain {
    width: 100%;
    height: 100%;
}

.inputMain input {
    all: unset;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    background-color: white;
}

.plusSticker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    padding: 10px;
    justify-content: space-between;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 10;
}

.voz {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.voz img {
    width: 30px;
    height: 30px;
}


.divMensagemMe {
    display: flex;
    justify-content: end;
    width: 100%;
    min-height: 35px;
}

.mensagemMe {
    display: flex;
    align-items: center;
    text-wrap: wrap;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    max-width: 45%;
    height: 100%;
    background-color: var(--verde_claro);
}

.dataMensagemMe {
    display: flex;
    align-items: end;
    justify-content: end;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 3px;
    width: 50px;
    background-color: var(--verde_claro);
}



.divMensagemContato {
    display: flex;
    width: 100%;
    min-height: 35px;
}

.mensagemContato {
    display: flex;
    align-items: center;
    text-wrap: wrap;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    max-width: 45%;
    height: 100%;
    background-color: white;
}

.dataMensagemContato {
    display: flex;
    align-items: end;
    justify-content: end;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 3px;
    width: 50px;
    background-color: white;
}