* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

ul {
    list-style: none;
}

a {
    all: unset;
}

:root {
    --fundo: #f7f5f3;
    --input: #f6f5f4;
    --verde_claro: #d9fdd3;
    --verde_forte: #1daa61;
    --cor_cinza_fonte: #d2d2d2;
    --cor_cinza_fonte_escrita: #919191;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "e1 e2 e4"
        "e1 e3 e4"
    ;

    grid-template-rows: 250px 1fr;
    grid-template-columns: 75px minmax(320px, 30%) minmax(570px, calc(70% - 75px));
}

/* Section ocultas */
/* Section da aba de status */
#statusSection {
    position: absolute;
    display: none;
    flex-direction: column;
    left: 75px;
    z-index: 30;
    min-width: 320px;
    background-color: white;
    width: 30%;
    height: 100vh;
    border-right-style: solid;
    border-width: 1.5px;
    border-color: rgb(143, 143, 143);
}

.headerStatus {
    display: flex;
    height: 50px;
}

.headerStatus h2 {
    display: flex;
    align-items: center;
    width: 25%;
    padding-left: 15px;
    font-size: 20px;
}

.headerStatus img:nth-child(1) {
    width: 25px;
    height: 25px;
}

.imgHeader {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 75%;
    gap: 15px;
    padding-right: 20px;
}

.headerStatus img {
    width: 20px;
    height: 20px;
}

.perfilStatus {
    display: flex;
    height: 100px;
}

.containerImgStatus {
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 55px;
    height: 100%;
}

.containerInfPefilStatus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    padding-left: 5px;
    width: calc(100% - 55px);
    height: 100%;
}

.containerInfPefilStatus p:nth-child(1) {
    font-size: 16px;
}

.containerInfPefilStatus p:nth-child(2) {
    color: var(--cor_cinza_fonte_escrita);
}

/* Section da aba de Perfil */
#perfilStatusImg {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: orange;
}

.plusStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
    margin-bottom: -15px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    background-color: var(--verde_forte);
}

.plusStatus img {
    width: 80%;
    height: 80%;
}

.statusRecente {
    padding-top: 20px;
    padding-left: 15px;
    min-height: 150px;
}

.statusRecente h3 {
    color: var(--cor_cinza_fonte_escrita);
    font-weight: 600;
    font-size: 16px;
}

.statusVisto {
    padding-top: 20px;
    padding-left: 15px;
    min-height: 150px;
}

.statusVisto h3 {
    color: var(--cor_cinza_fonte_escrita);
    font-weight: 600;
    font-size: 16px;
}

.footerStatus {
    display: flex;
    justify-content: center;
    height: 30px;
    text-align: start;
}

.footerStatus div {
    display: flex;
    justify-content: end;
    align-items: start;
    width: 5%;
    height: 100%;
}

.footerStatus img {
    width: 15px;
    height: 20px;
}

.footerStatus p {
    width: 75%;
    height: 100%;
    font-size: 12px;
    padding-top: 5px;
    color: var(--cor_cinza_fonte_escrita);
}

.footerStatus span {
    font-size: 12px;
    color: var(--verde_forte);
}

.footerStatus span:hover {
    text-decoration: underline;
}

/* Section da aba de Canais */
#canaisSection {
    position: absolute;
    display: none;
    flex-direction: column;
    left: 75px;
    z-index: 30;
    min-width: 320px;
    background-color: white;
    width: 30%;
    height: 100vh;
    border-right-style: solid;
    border-width: 1.5px;
    border-color: rgb(143, 143, 143);
}

.containerHeaderCanais {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.containerHeaderCanais h2 {
    font-size: 20px;
}

.containerHeaderCanais img {
    width: 25px;
    height: 25px;
}

.infoCanais {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 120px;
    text-align: center;
    padding: 5px;
}

.infoCanais :nth-child(1) {
    font-size: 18px;
}

.infoCanais :nth-child(2) {
    color: var(--cor_cinza_fonte_escrita);
    font-size: 16px;
}

.perfiCanais {
    width: 100%;
    min-height: 350px;
}

.containerButtonCanais {
    display: flex;
    justify-content: center;
    width: 100%;
}

#canaisSection button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    color: var(--fundo);
    font-weight: 600;
    background-color: var(--verde_forte);
    transition: 0.2s ease-in-out;
}

#canaisSection button:hover {
    transform: scale(1.05);
    background-color: #178b4f;
}

/* Section da aba de Comunidades */
#comunidadesSection {
    position: absolute;
    display: none;
    flex-direction: column;
    left: 75px;
    z-index: 30;
    min-width: 320px;
    background-color: white;
    width: 30%;
    height: 100vh;
    border-right-style: solid;
    border-width: 1.5px;
    border-color: rgb(143, 143, 143);
}

.headerComunidade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 60px;
}

.headerComunidade h2 {
    font-size: 20px;
}

.headerComunidade img {
    width: 25px;
    height: 25px;
}

.containerInfoComunidade {
    display: flex;
    align-items: center;
    height: 80%;
}

.infComunidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 10px;
    padding: 5px;
    text-align: center;
}

.infComunidades p:nth-child(2) {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.infComunidades p:nth-child(3) {
    font-size: 12px;
    line-height: 20px;
}

.imgComunidades {
    width: 210px;
}

.infComunidades span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    color: var(--verde_forte);
}

.infComunidades span:hover {
    text-decoration: underline;
}

.infComunidades span img {
    width: 13px;
}

.containerButtonComunidade {
    display: flex;
    justify-content: center;
}

.containerButtonComunidade button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    color: var(--fundo);
    font-weight: 600;
    background-color: var(--verde_forte);
    border-radius: 30px;
    transition: 0.2s ease-in-out;
}

.containerButtonComunidade button:hover {
    background-color: #198b50;
    transform: scale(1.05);
}

/* Section da aba de Configurações */
#configuracoesSection {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    left: 75px;
    z-index: 30;
    min-width: 320px;
    background-color: white;
    width: 30%;
    height: 100vh;
    border-right-style: solid;
    border-width: 1.5px;
    border-color: rgb(143, 143, 143);
}

.headerConfig {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 230px;
    padding-top: 20px;
    gap: 20px;
    border-bottom-style: solid;
    border-width: 1px;
    box-sizing: calc(100% - 20px);
    border-color: var(--cor_cinza_fonte);
}

.headerConfig h2 {
    font-size: 20px;
    font-weight: 500;
}

.containerInputConfig {
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    padding: 5px;
    gap: 5px;
    background-color: var(--input);
}

.containerInputConfig:hover {
    border-style: solid;
    border-width: 1px;
    border-color: var(--cor_cinza_fonte);
}

.containerInputConfig input {
    padding-left: 5px;
}

.containerInputConfig img {
    width: 20px;
    height: 20px;
}

.perfilConfig {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
}

.perfilConfig img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.infConfigPerfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    gap: 5px;
    width: calc(100% - 70px);
    height: 100%;
}

.infConfigPerfil p:nth-child(1) {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.infConfigPerfil p:nth-child(2) {
    color: var(--cor_cinza_fonte_escrita);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.infoConfig {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90%;
    height: calc(100% - 265px);
    padding: 10px 0px 10px 0px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: var(--cor_cinza_fonte);
    overflow-y: auto;
}

.infoConfig::-webkit-scrollbar {
    width: 5px;
}

.infoConfig::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

.infoConfig::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.205);
}

.configCard {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    min-height: 80px;
    gap: 20px;
    border-radius: 10px;
}

.configCard:hover {
    background-color: var(--input);
}

.configCard img {
    width: 30px;
    height: 25px;
}

.configCard div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    width: calc(100% - 35px);
    height: 100%;
}

.configCard div p:nth-child(2) {
    color: var(--cor_cinza_fonte_escrita);
}

.infoConfig div:nth-child(8) p {
    color: red;
}

/* Section da mensagem de confirmação de Logout e Filtro escuro */
#filterBlack {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.315);
    z-index: 40;
}

#logoutQuestion {
    opacity: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 220px;
    top: calc(50% - 110px);
    left: calc(50% - 220px);
    padding: 25px 10px 10px 25px;
    overflow: hidden;
    transition: 0.1s ease-in-out;
    z-index: 50;
}

#logoutQuestion::before {
    content: "";
    position: absolute;
    top: calc(50% - 11px);
    left: calc(50% - 22px);
    width: 44px;
    height: 22px;
    background: rgb(255, 255, 255);
    border-radius: 2px;
    z-index: -10;
    transition: 0.4s ease-in-out;
}

.expandir::before {
    box-sizing: border-box;
    transform: scale(10);
}

.reverse::before {
    transform: scale(1);
}

#logoutQuestion p:nth-child(1) {
    width: 400px;
    height: 20%;
    font-size: 18px;
}

#logoutQuestion p:nth-child(2) {
    width: 400px;
    height: 50%;
    padding-top: 15px;
    color: var(--cor_cinza_fonte_escrita);
    font-size: 16px;
}

#logoutQuestion div {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 30%;
    gap: 15px;
    padding-right: 15px;
}

#cancelLogout {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 40px;
    border-radius: 20px;
    color: var(--verde_forte);
    transition: 0.2s ease-in-out
}

#cancelLogout:hover {
    background-color: #1daa611c;
}

#confirmLogout {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color: red;
    color: white;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}

#confirmLogout:hover {
    transform: scale(1.05);
}

/* Section da aba de Perfil */
#perfilSection {
    position: absolute;
    display: none;
    flex-direction: column;
    left: 75px;
    z-index: 30;
    min-width: 320px;
    background-color: white;
    width: 30%;
    height: 100vh;
    padding: 0px 20px 0px 20px;
    border-right-style: solid;
    border-width: 1.5px;
    border-color: rgb(143, 143, 143);
}

.headerPerfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 270px;
}

.headerPerfil h2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 20px;
}

.headerPerfil img {
    width: 120px;
    height: 120px;
    margin-top: 50px;
    border-radius: 100%;
}

.infoPerfil {
    width: 100%;
    height: 330px;
}

.containerInfoPerfil {
    width: 100%;
    height: 110px;
    padding: 0px 10px 0px 10px;
}

.containerInfoPerfil p {
    height: 40px;
    color: var(--cor_cinza_fonte_escrita);
}

.containerInfoPerfil div {
    display: flex;
    justify-content: space-between;
}

.containerInfoPerfil div p {
    display: flex;
    height: 70px;
    color: black;
}

.containerInfoPerfil img {
    width: 25px;
    height: 25px;
}

/* Header */
header {
    grid-area: e2;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: white;
    border-right-style: solid;
    border-width: 1.5px;
    border-color: rgb(143, 143, 143);
}

.containerIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.containerIcon img {
    width: 23px;
    height: 23px;
}

.containerIcon:hover {
    background-color: var(--cor_cinza_fonte);
}

.logos {
    display: flex;
    align-items: center;
    padding: 15px;
    height: 25%;
}

.containerIconLogos {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    width: 100%;
    height: 100%;
}

#logo {
    width: 90px;
}

.containerInputHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 16%;
}

.input {
    display: flex;
    height: 100%;
    background-color: var(--input);
    width: 90%;
    border-radius: 20px;
}

.input:hover {
    border-style: solid;
    border-width: 1px;
    border-color: var(--cor_cinza_fonte);
}

input {
    all: unset;
    height: 100%;
    width: 92%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.busca {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    padding-left: 3px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.lupa {
    width: 23px;
    height: 23px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    height: 33%;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 25px;
    width: 80px;
    height: 30px;
    border-style: solid;
    border-color: var(--cor_cinza_fonte);
    border-width: 1.5px;
}

li:hover {
    background-color: var(--input);
}

.notificacoesDes {
    display: flex;
    justify-content: center;
    height: 25%;
}

.notConteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100%;
    padding: 10px;
    background-color: var(--verde_claro);
    border-radius: 20px;
}

.sinoNot {
    width: 40px;
    height: 45px;
}

.divCloseNot {
    width: 5%;
    height: 100%;
}

.divCloseNot img {
    width: 20px;
    height: 20px;
}

#ativarNot {
    font-weight: bolder;
    color: var(--verde_forte);
}

#ativarNot:hover {
    text-decoration: underline;
}

/* Barra de navegação lateral */
nav {
    grid-area: e1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
    width: 100%;
    background-color: var(--fundo);
    border-right-style: solid;
    border-width: 1.5px;
    border-color: rgb(143, 143, 143);
}

.iconsNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 40%;
}

.iconsNav div:nth-child(5) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 45px;
    padding-top: 5px;
    border-top-style: solid;
    border-width: 1px;
    border-top-color: var(--cor_cinza_fonte);
    border-radius: 0px;
}

#ia {
    width: 100%;
    height: 100%;
}

.configNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 5px;
    height: 60%;
}

.configNav div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.configNav div img {
    width: 65%;
    height: 65%;
}

#perfil {
    border-radius: 100%;
}

/* Section Conversas */
#conversasSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    gap: 5px;
    grid-area: e3;
    height: 100%;
    width: 100%;
    z-index: 20;
    border-right-style: solid;
    border-width: 1.5px;
    border-color: rgb(143, 143, 143);
    background-color: white;
    overflow-y: scroll;
}

.contato {
    display: flex;
    align-items: center;
    width: 95%;
    height: 80px;
    min-height: 80px;
    border-radius: 15px;
}

.none {
    display: none;
}

.contato:hover {
    background-color: var(--input);
}

.imgPerfil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.imgPerfil img {
    width: 55px;
    height: 55px;
    border-radius: 100%;
}

.informacao {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    height: 70%;
    padding-left: 5px;
}

.nome {
    font-size: 16px;
}

.ultimaMensagem {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--cor_cinza_fonte_escrita);
}

.data {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 70%;
    font-size: 14px;
}

/* Section Main (Contato selecionado) */
#sectionMain {
    grid-area: e4;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-color: var(--fundo);
}

/* Telas de background */
/* Tela de Status */
#statusTela {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.headerTelaStatus {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 90%;
}

.headerTelaStatus p:nth-child(2) {
    font-size: 18px;
}

.headerTelaStatus p:nth-child(3) {
    color: var(--cor_cinza_fonte_escrita);
}

.headerTelaStatus img {
    width: 60px;
    height: 60px;
}

.footerTelaStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 10%;
    color: var(--cor_cinza_fonte_escrita);
}

.footerTelaStatus img {
    width: 20px;
    height: 25px;
    margin-bottom: 5px;
}

#canaisTela {
    display: none;
    width: 100%;
    height: 100%;
}

/* Tela de Canais */
#canaisTela div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 15px;
}

#canaisTela div img {
    width: 60px;
    height: 60px;
}

#canaisTela div p:nth-child(2) {
    font-size: 18px;
}

#canaisTela div p:nth-child(3) {
    text-align: center;
    color: var(--cor_cinza_fonte_escrita);
}

/* Tela de Comunidades */
#comunidadesTela {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.headerTelaComunidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    gap: 15px;
    text-align: center;
}

.headerTelaComunidades p:nth-child(2) {
    font-size: 18px;
}

.headerTelaComunidades p:nth-child(3) {
    color: var(--cor_cinza_fonte_escrita);
}

.headerTelaComunidades img {
    width: 60px;
    height: 60px;
}

.footerTelaComunidades {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    height: 10%;
}

.footerTelaComunidades p {
    color: var(--cor_cinza_fonte_escrita);
}

.footerTelaComunidades img {
    width: 20px;
    height: 25px;
    margin-bottom: 5px;
}

/* Tela de Configurações */
#configuracoesTela {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#configuracoesTela div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 15px;
}

#configuracoesTela img {
    width: 70px;
    height: 70px;
}

#configuracoesTela div p {
    font-size: 20px
}

/* Tela de Perfil */
#perfilTela {
    display: none;
    width: 100%;
    height: 100%;
}

#perfilTela div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
}

#perfilTela img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--cor_cinza_fonte_escrita);
}

#perfilTela p {
    font-size: 20px;
}

/* Primeira tela que aparece ao iniciar o web-site */
#inicialTela {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 450px;
}

.containerImgInicio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.containerImgInicio img {
    width: 250px;
    height: 210px;
}

#inicialTela h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    font-weight: lighter;
    text-align: center;
    font-size: 35px;
}

#inicialTela p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 20%;
    font-size: 16px;
}

#inicialTela button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 95px;
    color: var(--fundo);
    font-weight: 500;
    background-color: var(--verde_forte);
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}

#inicialTela button:hover {
    transform: scale(1.02);
    background-color: #188f52;
}

/* Header da Section de contato selecionado */
#headerMain {
    display: none;
    width: 100%;
    height: 60px;
    gap: 10px;
    background-color: white;
}

.perfilMain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(10% - 10px);
}

#imgPerfilMain {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

#nomeMain {
    font-size: 18px;
}

.infContatoMain {
    color: var(--cor_cinza_fonte_escrita);
}

.mainInf {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
    width: 45%;
}

.iconsHeaderMain {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding-right: 30px;
    width: 45%;
}

.iconsHeaderMain .containerIcon:nth-child(1) img {
    width: 30px;
    height: 15px;
}

.iconsHeaderMain .containerIcon:nth-child(3) img {
    width: 20px;
    height: 20px;
}

/* Section que armazena todas as telas */
#conversa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 40px 0px 40px;
    gap: 15px;
    width: 100%;
    height: calc(100% - 120px);
}

/* Tela que exibe as mensagens de cada contato */
#conversasTela {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 40px 0px 40px;
    gap: 15px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#conversasTela::-webkit-scrollbar {
    width: 10px;
}

#conversasTela::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

#conversasTela::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.205);
}

/* Div que contém o input da tela de messages */
#divInputMain {
    display: none;
    justify-content: center;
    width: 100%;
    height: 60px;
}

#divInputMain .plusSticker img {
    width: 20px;
    height: 20px;
}

.containerInput {
    display: flex;
    width: 90%;
    height: 85%;
}

.inputMain {
    width: 100%;
    height: 100%;
}

.inputMain input {
    all: unset;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    background-color: white;
}

.plusSticker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    padding: 7px;
    gap: 5px;
    justify-content: space-between;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 10;
}

.voz {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

#michophone {
    width: 25px;
    height: 25px;
}

/* Estilização das mensagens do remetende */
.divMensagemMe {
    display: flex;
    justify-content: end;
    width: 100%;
    min-height: 35px;
}

.mensagemMe {
    display: flex;
    align-items: center;
    text-wrap: wrap;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    max-width: 45%;
    height: 100%;
    background-color: var(--verde_claro);
}

.dataMensagemMe {
    display: flex;
    align-items: end;
    justify-content: end;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 3px;
    width: 50px;
    background-color: var(--verde_claro);
}

/* Estilização das mensagens do destinatário */
.divMensagemContato {
    display: flex;
    width: 100%;
    min-height: 35px;
}

.mensagemContato {
    display: flex;
    align-items: center;
    text-wrap: wrap;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    max-width: 45%;
    height: 100%;
    background-color: white;
}

.dataMensagemContato {
    display: flex;
    align-items: end;
    justify-content: end;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 3px;
    width: 50px;
    background-color: white;
}