* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    all: unset;
}

:root {
    --fundo: #f7f5f3;
    --input: #f6f5f4;
    --verde_claro: #d9fdd3;
    --verde_forte: #1daa61;
    --cor_cinza_fonte: #d2d2d2;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "e1 e2 e4"
        "e1 e3 e4"
    ;

    grid-template-rows: 250px 1fr;
    grid-template-columns: 75px minmax(320px, 30%) minmax(570px, calc(70% - 75px));
}

/* Header */
header {
    grid-area: e2;
    width: 100%;
    z-index: 99;
    height: 100%;
    background-color: white;
    border-right-style: solid;
    border-width: 1.5px;
    border-color: rgb(143, 143, 143);
}

.logos {
    display: flex;
    align-items: center;
    padding: 15px;
    height: 20%;
}

.logos div {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    width: 100%;
}

.logos img {
    width: 25px;
    height: 25px;
}

#logo {
    width: 150px;
}

.input {
    display: flex;
    justify-content: center;
    height: 16%;
}

input {
    all: unset;
    height: 100%;
    width: 85%;
    background-color: var(--input);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.busca {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    background-color: var(--input);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.lupa {
    width: 25px;
    height: 25px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    height: 37%;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 25px;
    width: 80px;
    height: 30px;
    border-style: solid;
    border-color: var(--cor_cinza_fonte);
    border-width: 1.5px;
}

.notificacoesDes {
    display: flex;
    justify-content: center;
    height: 25%;
}

.notConteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    padding: 10px;
    background-color: var(--verde_claro);
    border-radius: 20px;
}

.sinoNot {
    width: 50px;
    height: 50px;
}

#closeNot {
    width: 25px;
    height: 25px;
}

/* Barra de navegação lateral */
nav {
    grid-area: e1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
    width: 100%;
    background-color: var(--fundo);
    border-right-style: solid;
    border-width: 1.5px;
    border-color: rgb(143, 143, 143);
}

nav img {
    width: 90%;
    height: 85%;
}

.iconsNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    height: 40%;
}

.iconsNav div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.iconsNav div:nth-child(-n+4):hover {
    background-color: var(--cor_cinza_fonte);
}

div #ia:hover {
    background-color: var(--cor_cinza_fonte);
    border-radius: 100%;
}

.iconsNav div:nth-child(5) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 45px;
    padding-top: 5px;
    border-top-style: solid;
    border-width: 1px;
    border-top-color: var(--cor_cinza_fonte);
    border-radius: 0px;
}

#ia {
    width: 100%;
    height: 100%;
}

.configNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 5px;
    height: 60%;
}

.configNav div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.configNav div img {
    width: 85%;
    height: 85%;
}

.configNav div:hover {
    background-color: var(--cor_cinza_fonte);
}

/* Section Conversas */
#sectionConversas {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    gap: 5px;
    grid-area: e3;
    height: 100%;
    width: 100%;
    z-index: 99;
    border-right-style: solid;
    border-width: 1.5px;
    border-color: rgb(143, 143, 143);
    background-color: white;
}

.contato {
    display: flex;
    align-items: center;
    width: 95%;
    height: 80px;
    border-radius: 15px;
}

.imgPerfil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.imgPerfil img {
    width: 55px;
    height: 55px;
    border-radius: 100%;
}

.informacao {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 60%;
    height: 70%;
    padding-left: 5px;
}

.ultimaMensagem {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 70%;
    font-size: 14px;
}

/* Section Main */
#sectionMain {
    grid-area: e4;
    width: 100%;
    height: 100%;
    background-image: url('./img/zapzap.jpg');
    background-size: contain;
}

.headerMain {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: white;
}

.perfilMain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

#imgPerfilMain {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.mainInf {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 45%;
}

.iconsHeaderMain {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    padding-right: 30px;
    width: 45%;
}

.iconsHeaderMain img {
    width: 25px;
    height: 25px;
}

.iconsHeaderMain :nth-child(1) {
    width: 50px;
    height: 25px;
}

#conversa {
    display: flex;
    flex-direction: column;
    padding: 10px 40px 0px 40px;
    gap: 15px;
    width: 100%;
    height: calc(100% - 120px);
}

.inputMain {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.containerInput {
    display: flex;
    width: 90%;
    height: 85%;
}

.containerInput img {
    width: 20px;
    height: 20px;
}

.inputMain input {
    all: unset;
    width: 100%;
    height: 85%;
    padding-left: 10px;
    background-color: white;
}

.plusSticker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    padding: 5px;
    justify-content: space-between;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 10;
}

.voz {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.voz img {
    width: 30px;
    height: 30px;
}


.divMensagemMe {
    display: flex;
    justify-content: end;
    width: 100%;
    min-height: 35px;
}

.mensagemMe {
    display: flex;
    align-items: center;
    text-wrap: wrap;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    max-width: 45%;
    height: 100%;
    background-color: var(--verde_claro);
}

.dataMensagemMe {
    display: flex;
    align-items: end;
    justify-content: end;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 3px;
    width: 50px;
    background-color: var(--verde_claro);
}



.divMensagemContato {
    display: flex;
    width: 100%;
    min-height: 35px;
}

.mensagemContato {
    display: flex;
    align-items: center;
    text-wrap: wrap;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    max-width: 45%;
    height: 100%;
    background-color: white;
}

.dataMensagemContato {
    display: flex;
    align-items: end;
    justify-content: end;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 3px;
    width: 50px;
    background-color: white;
}